.bg{
      background-image: url('../assets/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 100vh; */
  height: auto;
}

.row{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    /* left: 90px; */
}


.row_big
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.left{
  width: 35%;
  margin-left: 1px;

}

.right{
  width: 75%;
  display: flex;
  flex-direction: column;

}

.manage{
    color: #FFF;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.space{
    margin-bottom: 300px;
}