.row_bigg
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  align-items: flex-start;


}

.leftt{
  width: 35%;
  margin-left: 30px;

}

.rightt{
  width: 75%;
  display: flex;
  flex-direction: column;

  align-items: flex-start;

}


/* .contact_menu {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
} */

.dropdown {
  position: relative;
  width: 140px;
}

.dropdown-btn {
  width: 100%;
  padding: 7px 10px;
  border-radius: 20px;
  border: 1px solid #0E8C88;
  background: rgba(35, 57, 56, 0.50);
  cursor: pointer;
  text-align: left;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: 0;
  width: 100%;
  background: #0E8C88;

  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  z-index: 20;
}

.dropdown-item {
  padding: 10px 14px;
  cursor: pointer;
}

.dropdown-item:hover {
  background:rgba(35, 57, 56, 0.50);

}

.contact_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  padding: 20px;

}

.menu_t1{
    margin-right: 30px;
    color: #FFF;
font-family: Poppins;
font-size: 0.625rem;
font-style: normal;
font-weight: 400;
line-height: 1.3125rem; /* 210% */
}

.menu_t2{
    margin-right: 7px;
        color: #FFF;
font-family: Poppins;
font-size: 0.625rem;
font-style: normal;
font-weight: 400;
line-height: 1.3125rem; /* 210% */
}

.menu_t3{
    margin-right: 7px;
        color: #FFF;
font-family: Poppins;
font-size: 0.625rem;
font-style: normal;
font-weight: 400;
line-height: 1.3125rem; /* 210% */
}

.menu_t4{
    margin-right: 7px;
        color: #FFF;
font-family: Poppins;
font-size: 0.625rem;
font-style: normal;
font-weight: 400;
line-height: 1.3125rem; /* 210% */
}

.gap_col{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .messages_list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
align-items:flex-start ;
    margin-bottom: 400px;
}


