
.fixed{
    position: fixed;
    top: 0;
    left: 0;
     /* width: 100%;    */
  z-index: 1000; 

}

.bg{
      background-image: url('../assets/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* full screen */
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    

    /* left: 90px; */
}

.date{
    color: #FFF;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


