
.fixed{
    /* position: fixed; */
    /* top: 0;
    left: 0;
     width: 25%;   
  z-index: 0;  */

  

}

.bg{
      background-image: url('../assets/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* full screen */

  /* display: flex;
  flex-direction: row; */
}

.bigrow{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* left: 90px; */
}

.date{
    color: #FFF;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.seventy5{
    /* width: 75%;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* .col{
  width: 75%;
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.row_cards{
    width: 100%;
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.big_col{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ========== MOBILE ========== */
@media (max-width: 767px) {

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .fixed {
    width: 25%;
    position: relative;
    z-index: 10;
  }

  .seventy5 {
    width: 75%;
    margin-top: 20px;
  }

  .row_cards {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .bigcard {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .bigcard img {
    width: 80%;
    margin-top: 20px;
  }

  .col {
    width: 100%;
  }

  .bg {
    height: auto;
    padding-bottom: 40px;
  }
}




/* ========== TABLET ========== */
@media (min-width: 768px) and (max-width: 1024px) {

  .fixed {
    width: 30%;
  }

  .seventy5 {
    width: 70%;
  }

  .row_cards {
    gap: 20px;
  }

  .bigcard {
    flex-direction: column;
    align-items: center;
  }

  .bigcard img {
    width: 70%;
  }
}



