
.fixed{
    /* position: fixed; */
    top: 0;
    left: 0;
     width: 25%;   
  z-index: 0; 

}

.bg{
      background-image: url('../assets/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 100vh; */
  height: auto;
}

.row{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    /* left: 90px; */
}

.date{
    color: #FFF;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.seventy5{
    width: 75%; 

}

.col{
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row_cards{
    width: 100%;
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.big_col{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* body{
  height: 1400px;
} */

.b{
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}





.row_big
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.left{
  width: 35%;
  margin-left: 1px;

}

.right{
  width: 75%;
  display: flex;
  flex-direction: column;

}

.cards_p{
  margin-top: 100px;
  display: flex;
/* width: 75.0625rem; */
flex-direction: row;
align-items: center;
justify-content: center;
align-content: center;
gap: 4.25rem 2.25rem;
flex-wrap: wrap;
height: auto;

}

.category-btn {
  padding: 10px 16px;
  border-radius: 20px;
}

.category-btn.selected {
  background: black;
  color: white;
}


.row_cat{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.button.active {
  background: #111;
  color: #fff;
  border-color: #111;

  display: flex;
  padding: 5px;
}

.buttonnn{
  width: 150px;
  height: 35px;
  margin: 20px;

  background: #0f837f;
  
}

..create-panel {
  display: none;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
}

.create-panel.show {
  display: block;
}

















/* ========== MOBILE ========== */
@media (max-width: 767px) {

  .row {
    flex-direction: column;
    align-items: center;
  }

  .fixed {
    width: 100%;
    position: relative;
  }

  .seventy5 {
    width: 100%;
    margin-top: 20px;
  }

  .horizontal_menu {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 10px;
    padding: 10px;
    scrollbar-width: none; /* Hide scrollbar */
  }

  .horizontal_menu::-webkit-scrollbar {
    display: none; /* Hide scrollbar on mobile */
  }

  .add_bu {
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }

  .projectscards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px 20px;
  }

  .big_col {
    width: 100%;
    padding-bottom: 40px;
  }

  .bg {
    height: auto;
    padding-bottom: 40px;
  }
}



/* ========== TABLET ========== */
@media (min-width: 768px) and (max-width: 1024px) {

  .fixed {
    width: 30%;
  }

  .seventy5 {
    width: 70%;
  }

  .horizontal_menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .projectscards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 10px;
  }
}
