.static{
    display: flex;
    flex-direction: row;
}

.s{
    color: #FFF;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; /* 140% */
letter-spacing: 0.02388rem;
}