.cards_grid{
    display: grid;
width: 55.8125rem;
height: 75.8125rem;
row-gap: 1.1875rem;
column-gap: 19px;
grid-template-rows: repeat(4, minmax(0, 1fr));
grid-template-columns: repeat(3, minmax(0, 1fr));
}