.row_icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cont_card{
    display: flex;
padding: 0.04rem 1.25rem;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 1.25rem;

    border-radius: 1.25rem;
border: 1px solid rgba(177, 177, 177, 0.16);
background: rgba(39, 39, 39, 0.65);

}

.cont_row{

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 1rem;

}

.font{
   color: #A6A6A6;
font-family: Poppins;
font-size: 0.625rem;
font-style: normal;
font-weight: 400;
line-height: 1.3125rem; /* 210% */ 
}

.buttonn{
    border-radius: 1.25rem;
border: 1px solid #0E8C88;
background: rgba(9, 114, 110, 0.64);

display: flex;
width: 1.0625rem;
height: 2rem;
/* padding: 0.625rem 6.75rem; */
justify-content: center;
align-items: center;
/* gap: 0.625rem; */
flex-shrink: 0;
}

