.welc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: %; */
    width: 100%;
    gap: 400px;
}

.p{
    color: #FFF;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.roww{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
