.menu{
    display: flex;
width: 303px;
height: 781px;
padding: 25px 16px;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 20px;

position: fixed;

  top: 0;
    left: 0;
     width: 25%;   
  z-index: 0; 

border-radius: 0 0 20px 0;
border: 1px solid rgba(177, 177, 177, 0.16);
background: rgba(39, 39, 39, 0.65);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

