.menu{
    display: flex;
width: 303px;
height: 781px;
padding: 25px 16px;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 20px;

border-radius: 0 0 20px 0;
border: 1px solid rgba(177, 177, 177, 0.16);
background: rgba(39, 39, 39, 0.65);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bg{
      background-image: url('../assets/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* full screen */
}