.title{
    color: #E2E1E3;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.title:hover{
    color: #0E8C88;

}

.icon_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}