.row_big
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.left{
  width: 35%;
  margin-left: 100px;

}

.right{
  width: 75%;
  display: flex;
  flex-direction: column;

}

.img_input{
    display: flex;
width: 9.5625rem;
height: 5rem;
padding: 1rem 17.25rem 0.9625rem 17.25rem;
justify-content: center;
align-items: center;

border-radius: 1.25rem;
border: 1px dashed #5D5D5D;
background: rgba(39, 39, 39, 0.65);
}

.t_input{
    border-radius: 1.25rem;
border: 1px solid rgba(106, 106, 106, 0.23);
background: rgba(39, 39, 39, 0.65);
width: 40.5625rem;

display: flex;
height: 1.0625rem;
padding: 0.75rem 1.8125rem;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
align-self: stretch;

color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}