.proj_card{
    display: flex;
width: 21.8125rem;
height: 22.0625rem;
padding: 1.375rem;
justify-content: flex-start;
flex-direction: column;
align-items: flex-start;
gap: 0.625rem;
grid-row: 1 / span 1;
grid-column: 2 / span 1;


border-radius: 1.25rem;
border: 1px solid rgba(106, 106, 106, 0.23);
background: #272727;
}

.row_icons{
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    align-items: center;
}

.t{
    color: #E2E1E3;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0px;
}

.pr{
    color: #E2E1E3;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0px;
}

.buttonn_n{
    border-radius: 1.25rem;
/* border: 1px solid #0E8C88; */
/* background: rgba(9, 114, 110, 0.64); */

display: flex;
/* width: 5.0625rem; */
height: 2rem;
/* padding: 0.625rem 6.75rem; */
justify-content: center;
align-items: center;
/* gap: 0.625rem; */
flex-shrink: 0;
}

.buttonn_n:hover{
background: rgba(9, 114, 110, 0);

}