.editor-toolbar {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.editor-toolbar button {
  padding: 6px 10px;
  border: 1px solid #959595;
  background: rgb(35, 35, 35);
  cursor: pointer;
}

.color_select{
    border-radius: 0.75rem;
border: 1px solid rgba(106, 106, 106, 0.23);
background: rgba(239, 239, 239, 0.65);
font-family: poppins;
}

.editor-area {
  min-height: 140px;
  width: 43.5625rem;

  padding: 12px;
  /* border: 1px solid #ccc; */
  /* border-radius: 6px; */
  outline: none;

  border-radius: 1.25rem;
border: 1px solid rgba(106, 106, 106, 0.23);
background: rgba(39, 39, 39, 0.65);

color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}
