.home_buttons{
    display: flex;
width: 17.9375rem;
height: 4.5rem;
padding: 1.5rem 4.5625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;

border-radius: 1.25rem;
border: 1px solid rgba(132, 132, 132, 0.20);
background: #1C3231;
}