.home_buttons{
   display: flex;
width: 10.9375rem;
height: 2.8125rem;
padding: 0.5rem 2.5625rem;
justify-content: center;
align-items: center;
gap: 1.625rem;

border-radius: 1.25rem;
border: 1px solid rgba(132, 132, 132, 0.20);
background: #1C3231;

color: #E2E1E3;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 120% */
letter-spacing: 0.02388rem;
}